*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div{
   background-color: rgb(77, 144, 211);
   width: 200px; /* Largura */
   height: 200px;  /* Altura*/
   border: 3px solid black;
   margin-bottom: 20px;
   margin-top: 20px;
   text-align: center;
   border-radius: 15px;
}

div:hover{

    background-color: lightslategrey;
    color: rgb(255, 255, 255);
    font-size: 40px;
    width: 250px;
    height: 250px;
    transition: all 0.3s ease;

}